name: Forc Release (nightly)

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      date:
        required: true
        type: string
      release_name:
        required: true
        type: string
    secrets:
      SLACK_WEBHOOK_TOOLING:
        required: true

env:
  CARGO_TERM_COLOR: always
  REGISTRY: ghcr.io

jobs:
  prepare-release:
    runs-on: ubuntu-latest
    name: Prepare release
    outputs:
      tag: ${{ steps.set-tag.outputs.tag }}
      zip_name: ${{ steps.set-name.outputs.zip_name }}
      commit_hash: ${{ steps.set-commit-hash.outputs.commit_hash }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          repository: FuelLabs/sway
          fetch-depth: 0

      - name: Set commit hash
        id: set-commit-hash
        run: |
          echo "::set-output name=commit_hash::$(git rev-parse --short=10 HEAD)"

      - name: Set tag
        id: set-tag
        run: |
          LATEST_TAG=$(git describe --tags --abbrev=0)
          # trim v
          LATEST_TAG="${LATEST_TAG#v}"
          echo "::set-output name=tag::$LATEST_TAG"

      - name: Set name
        id: set-name
        run: |
          NAME=forc-binaries-${{ steps.set-tag.outputs.tag }}+nightly.${{ inputs.date }}.${{ steps.set-commit-hash.outputs.commit_hash }}
          echo "::set-output name=zip_name::$NAME"

  install-and-upload-forc-binaries:
    name: Install and upload forc binaries to release
    needs: prepare-release
    runs-on: ${{ matrix.job.os }}
    strategy:
      fail-fast: false
      matrix:
        job:
          - os: ubuntu-24.04
            platform: linux
            target: x86_64-unknown-linux-gnu
            arch: amd64
            svm_target_platform: linux-amd64
            cross_image: x86_64-linux-gnu
          - os: ubuntu-24.04
            platform: linux
            target: aarch64-unknown-linux-gnu
            arch: arm64
            svm_target_platform: linux-aarch64
            cross_image: aarch64-linux-gnu
          - os: macos-14
            platform: darwin
            target: x86_64-apple-darwin
            arch: amd64
            svm_target_platform: macosx-amd64
          - os: macos-14
            platform: darwin
            target: aarch64-apple-darwin
            arch: arm64
            svm_target_platform: macosx-aarch64
    steps:
      - name: Checkout this repo (action path)
        uses: actions/checkout@v3

      - name: Checkout sway
        uses: actions/checkout@v3
        with:
          repository: fuellabs/sway
          path: sway

      - name: Setup cross build environment
        uses: ./.github/actions/setup-cross-build
        with:
          target: ${{ matrix.job.target }}
          cross_image: ${{ matrix.job.cross_image }}
          os: ${{ matrix.job.os }}

      - uses: Swatinem/rust-cache@v1
        with:
          cache-on-failure: true
          key: '${{ matrix.job.target }}'

      - name: Install cargo-edit
        working-directory: sway
        run: cargo install cargo-edit

      - name: Bump patch version and add nightly pre-release tag
        working-directory: sway
        run: |
          cargo set-version --metadata "nightly.${{ inputs.date }}.${{ needs.prepare-release.outputs.commit_hash }}"

      - name: Install cross
        uses: baptiste0928/cargo-install@v1
        with:
          crate: cross
          cache-key: '${{ matrix.job.target }}'

      - name: Build forc binaries
        working-directory: sway
        run: |
          cross build --profile=release --locked --target ${{ matrix.job.target }} --bins

      - name: Prep Assets
        id: prep_assets
        env:
          PLATFORM_NAME: ${{ matrix.job.platform }}
          TARGET: ${{ matrix.job.target }}
          ARCH: ${{ matrix.job.arch }}
        working-directory: sway
        run: |
          ZIP_FILE_NAME=${{ needs.prepare-release.outputs.zip_name }}-${{ env.PLATFORM_NAME }}_${{ env.ARCH }}.tar.gz
          echo "ZIP_FILE_NAME=$ZIP_FILE_NAME" >> $GITHUB_ENV
          mkdir -pv ./forc-binaries
          for BINARY in forc forc-fmt forc-lsp forc-call forc-deploy forc-run forc-doc forc-crypto forc-debug forc-tx forc-submit forc-migrate forc-node forc-publish; do
            cp "target/${{ matrix.job.target }}/release/$BINARY" ./forc-binaries
          done
          tar -czvf $ZIP_FILE_NAME ./forc-binaries

      - name: Archive forc binaries
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/master'
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          files:
            sway/${{ env.ZIP_FILE_NAME }}
          tag_name: ${{ inputs.release_name }}

      - name: Notify if matrix leg failed
        if: always() && failure()
        uses: ravsamhq/notify-slack-action@v1
        with:
          status: failure
          token: ${{ secrets.GITHUB_TOKEN }}
          notification_title: '{workflow} matrix leg failed'
          message_format: '{emoji} *{workflow}* failed for target `${{ matrix.job.target }}` (`${{ matrix.job.platform }}` / `${{ matrix.job.arch }}`) in <{repo_url}|{repo}> : <{run_url}|View Run Results>'
          footer: ''
          notify_when: 'failure'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_TOOLING }}
